@{
    var data = ViewBag.Data;
}


@model List<Calendar.Models.Event>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" />
@foreach (var item in Model)
{
    <span>@item.name</span>
}

<Table>
    <tr>
        <th>Name </th>
        <th>Location</th>
        <th>Date</th>
    </tr>
    @foreach (var e in Model)
    {

       <br>
        <tr>
            <td>@e.name </td>
            <td>@e.location </td>
            <td>@e.day </td>
            <td>@Html.ActionLink("Edit", "Edit", new {id =e.id }) </td>
            <td> @Html.ActionLink("Delete", "Delete") </td>

        </tr>

    }
</Table>
