
@{
    ViewBag.Title = "Calendar";
}


@{
    //var data = ViewBag.data;
    var mdata = ViewBag.mData;

}
@{
    var minvite = ViewBag.invites;
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" />
<script>
    $(function () {
                $("#prevMonth").click(function () {
                        var pcurentMonth = document.getElementById("monthnum").innerHTML;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("prevMonth")',
                            data: '{id: ' + pcurentMonth + '}',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (month) {
                                //alert("Data has been added successfully." + month.name);
                                document.getElementById("monthnum").innerHTML = month.number
                                document.getElementById("monthName").innerHTML = month.name
                                document.getElementById("monthyear").innerHTML = month.year

                                 $("#day2").empty()
                                //mdata = month
                                 LoadData(month);
                        },
                        error: function () {
                            alert("1Error while inserting data");
                        }
                    });
                    return false;
                });

            $("#nextMonth").click(function () {
                var curentMonth = document.getElementById("monthnum").innerHTML;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("nextMonth")',
                    data: '{id: ' + curentMonth + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (month) {
                        //alert("Data has been added successfully." + month.name);
                        document.getElementById("monthnum").innerHTML = month.number
                        document.getElementById("monthName").innerHTML = month.name
                        document.getElementById("monthyear").innerHTML = month.year
                       // $("days").empty();
                        //mdata = month
                       $("#day2").empty()
                        LoadData(month);
                },
                error: function () {
                    alert("4Error while inserting data");
                }
                });
            return false;
            });

        $("#dayclick").click(function () {
                        alert("success in dayclick");
                        var currentday = document.getElementByClassName("daynumber").innerHTML;
                        var curentMonth = document.getElementById("monthnum").innerHTML;
                        var currentyear = document.getElementById("monthyear").innerHTML;
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("nextMonth")',
                                data: '{day: ' + currentday + ', month:'+ curentMonth+', year: '+2020+'}',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (month) {
                                    //alert("Data has been added successfully." + month.name);
                                    //document.getElementById("monthnum").innerHTML = month.number
                                    //document.getElementById("monthName").innerHTML = month.name
                                    //document.getElementById("monthyear").innerHTML = month.year
                                   // $("days").empty();
                                    //mdata = month
                                    alert("success in dayclick");
                                  // $("#day2").empty()
                                    //LoadData(month);
                            },
                            error: function () {
                                alert("4Error while inserting data");
                            }
                        });
                        return false;
        });

        $('body').on('click','.testbody', function(){
            var currentday = $('.daynumber').innerHTML;
                        var curentMonth = document.getElementById("monthnum").innerHTML;
                        var curentyear = document.getElementById("monthyear").innerHTML;
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("getDayEvent","Event")',
                                data: '{day: ' + currentday + ', month:'+ curentMonth+', year: '+2020+'}',
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                success: function (month) {
                                    //alert("Data has been added successfully." + month.name);
                                    //document.getElementById("monthnum").innerHTML = month.number
                                    //document.getElementById("monthName").innerHTML = month.name
                                    //document.getElementById("monthyear").innerHTML = month.year
                                   // $("days").empty();
                                    //mdata = month
                                    alert("success in dayclick"+month);
                                  // $("#day2").empty()
                                    //LoadData(month);
                            },
                            error: function () {
                                alert("4Error while inserting data");
                            }
                        });
                        return false;
        });

                $("#accept").click(function () {
                             $.ajax({
                                type: "POST",
                                url: '@Url.Action("acceptInvite")',
                                data: '{invite: "2020"}',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (month) {
                                    alert("Invite accepted");
                                    document.getElementById("status").innerHTML = "Accepted"

                            },
                            error: function () {
                                alert("error while accepting");
                            }
                        });
                        return false;
                });


                $("#deny").click(function () {
                             $.ajax({
                                type: "POST",
                                url: '@Url.Action("denyInvite")',
                                data: '{invite: "2020"}',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (month) {
                                    alert("Invite denyed");
                                      document.getElementById("status").innerHTML = "Denied"

                            },
                            error: function () {
                                alert("error while denying ");
                            }
                        });
                        return false;
                });
    });
    function LoadData(month) {
        if (month != null) {
            var ht = "";
            var daysInMonth = month.days;
            var yearInMonth = month.year;
            var numberInMonth = month.number;
            var daysForMonth = "<ul>";
            for (i = 1; i < daysInMonth; i++) {
                //daysForMonth += '<li class="testbody">' + i + '</li>';
                daysForMonth += '<li class="testbody"><a href="#" runat="server" onclick="location.href=&quot;/Event/getDayEvents?days=' + i + '&month='  +numberInMonth+ '&year=' + yearInMonth+'+&quot;">' + i + '</a></li>';
               // a href="#" runat="server" onclick='location.href="/Event/getDayEvents?days=1&month=3&year=2020"'>
            }
            }

            daysForMonth += "</ul>";


            $("#day2").append("" + daysForMonth);

        }




</script>

<h2>Calendar</h2>

<div class="month">
    <ul>
        <li class="prev" id="prevMonth">&#10094;</li>
        <li class="next" id="nextMonth">&#10095;</li>
    </ul>
    <ul>
        <li>
            <h3 id="monthName"> @mdata.name</h3><br>
            <span style="font-size:18px">@mdata.year</span>
        </li>
    </ul>
</div>


<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>



<div id="day2" class="days">
    <ul>
        @for (int i = 1; i < mdata.days; i++)
        {

            <li class="dayclick"><a href="@Url.Action("getDayEvents", "Event" , new { days=@i, month=mdata.number, year=mdata.year })"> <span>@i</span></a></li>
        }
    </ul>
</div>
<a href="@Url.Action("Create", "Event")">Create</a>





@foreach (var student in minvite)
{

    <h1>@student.UserId1 @student.UserId2 @student.events.name @student.eventId</h1>
    <h1 id="status">@student.status</h1>



}
<br>
<li id="accept">Accept</li>

<li id="deny">Deny</li>











<p id="monthnum" value="test"></p>
<p id="monthyear" value="test"></p>